################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Dotnet/expense tracher/.vs
/Dotnet/expense tracher/expense tracher/bin/Debug/net8.0
/Dotnet/expense tracher/expense tracher/obj
