<div class="row">
    <div class="col-sm-6 ">
            <img class="w-75" src="~/images/daco_4290998.png" />
        </div>
    <div class="col-sm-6">
           

   
        <div class="change-container d-flex justify-content-center align-items-center">
            <div class="login-form-container">
                <div class="d-flex justify-content-center mb-2">
                    <img class="logo-img" src="~/images/logo.png" alt="logo" />
                </div>
                <div class="d-flex justify-content-center mb-3">
                    <h4 class="text-white">Change password</h4>
                </div>
                <form action="/" method="post">
                    <div class="form-group mb-3">
                        <label class="control-label mb-2 text-white">new password</label>
                        <input class="form-control" />
                    </div>
                    <div class="form-group mb-3 text-white">
                        <label class="control-label mb-2">confirm Password</label>
                        <input class="form-control" />
                    </div>
                    <div class="form-group mt-4 mb-3">
                        <a href="/Home/Index" class="primary-btn w-100">confirm</a>
                    </div>
                </form>
                
            </div>
            </div>
            </div> 
        </div>