@model expense_tracher.Models.TblCategory

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>

    <hr />
    <div class="row">
        <div class="card">
            <div class="col-md-12">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row w-100 vh-85">
                        <div class="col-md-6">

                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <input asp-for="Description" class="form-control" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                <label asp-for="CreatedAt" class="control-label"></label>
                                <input asp-for="CreatedAt" class="form-control" />
                                <span asp-validation-for="CreatedAt" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                <label asp-for="ModifiedAt" class="control-label"></label>
                                <input asp-for="ModifiedAt" class="form-control" />
                                <span asp-validation-for="ModifiedAt" class="text-danger"></span>
                            </div>
                        </div>



                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
