<div class="row justify-content-end mb-4">
    <div class="col-sm-6"><a href="#" class="primary-btn float-end">Add Category</a></div>
</div>
<div class="row">
    <div class="col-sm-8"><h4>Categories</h4></div>
    <div class="col-sm-4">
        <input class="form-control" placeholder="Search" />
    </div>
</div>
<hr class="mb-4" />

<div class="card">
    <table class="table">
        <thead>
            <tr>
                <th width="80%">Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Category 1</td>
                <td><i class="bi bi-trash3-fill me-3"></i><i class="bi bi-pencil me-3"></i><i class="bi bi-layout-text-window-reverse me-3"></i></td>
            </tr>
            <tr>
                <td>Category 2</td>
                <td><i class="bi bi-trash3-fill me-3"></i><i class="bi bi-pencil me-3"></i><i class="bi bi-layout-text-window-reverse me-3"></i></td>
            </tr>
            <tr>
                <td>Category 3</td>
                <td><i class="bi bi-trash3-fill me-3"></i><i class="bi bi-pencil me-3"></i><i class="bi bi-layout-text-window-reverse me-3"></i></td>
            </tr>
            <tr>
                <td>Category 4</td>
                <td><i class="bi bi-trash3-fill me-3"></i><i class="bi bi-pencil me-3"></i><i class="bi bi-layout-text-window-reverse me-3"></i></td>
            </tr>
            <tr>
                <td>Category 5</td>
                <td><i class="bi bi-trash3-fill me-3"></i><i class="bi bi-pencil me-3"></i><i class="bi bi-layout-text-window-reverse me-3"></i></td>
            </tr>
            <tr>
                <td>Category 6</td>
                <td><i class="bi bi-trash3-fill me-3"></i><i class="bi bi-pencil me-3"></i><i class="bi bi-layout-text-window-reverse me-3"></i></td>
            </tr>
            <tr>
                <td>Category 7</td>
                <td><i class="bi bi-trash3-fill me-3"></i><i class="bi bi-pencil me-3"></i><i class="bi bi-layout-text-window-reverse me-3"></i></td>
            </tr>
            <tr>
                <td>Category 8</td>
                <td><i class="bi bi-trash3-fill me-3"></i><i class="bi bi-pencil me-3"></i><i class="bi bi-layout-text-window-reverse me-3"></i></td>
            </tr>
        </tbody>
    </table>
</div>


